<h1> All Artists </h1>

<h3><ul> <% @artists.each do |artist| %>
  <li>  <%= link_to artist.name, artist_path(artist) %> </li>
<% end %> </ul></h3>


<%=button_to "Create New Artist", new_artist_path, method: :get %> <br>

<%=button_to "Return to Homepage", home_path, method: :get %> <br>
