<h1>Songs</h1>
<ul>
    <% @songs.each do |song| %>     
    <p><%= link_to song.name, song_path(song)%></p>
    <% end %>
</ul>
<%=button_to "Create New Song", new_song_path, method: :get %> <br>
<%=button_to "Return to Homepage", home_path, method: :get %> <br>